#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* ===== SITE HEADER ===== */

.site-header {
    margin-bottom: 20px;
}

.site-header h1 {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: 3px;

    background: linear-gradient(90deg, #4da6ff, #66b3ff, #3399ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-shadow: 0 0 15px rgba(77, 166, 255, 0.4);
}

.page-shell p {
    margin-bottom: 18px;   /* space between paragraphs */
    line-height: 1.6;      /* improves readability */
    color: rgba(78, 161, 255, 0.85);
}
